<div class="shop">
@for (item of this.cardService.items; track $index) {
  <app-card
    [Name]="item.Name"
    [Mess]="item.Mess"
    [id]="item.id"
    [InStock]="item.InStock"
    [Pride]="item.Pride"
    >
  </app-card>
}
  <div id="box">
  @for(item of cardService.cart; track $index){
  <h1>{{item.Name}}</h1>
  <h2>{{item.Pride}}</h2>
    <h2>{{item.quantity}}</h2>

    <button (click)="cardService.removeCard($index)">HỦY</button>
}
  </div>
  <div class="tongTien">
    <h1>Tổng tiền: {{cardService.total()}}</h1>
  </div>
</div>

